.table-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 68vh;
}

.table {
    margin-bottom: 0 !important; 
    vertical-align: middle;
}

.clickable-area {
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none; 
}

.clickable-area:hover {
    background-color: var(--bs-secondary-bg);
}