<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Total Registered Users</h5>
                    <p class="card-text display-4">{{numberUsers}}</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Reservations (Today)</h5>
                    <p class="card-text display-4">12</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Revenue (Today)</h5>
                    <p class="card-text display-4">€480</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Recent Users</h5>
                    <ul class="list-group">
                        @for (u of recentUsers; track u.id) {
                            <li class="list-group-item">{{ u.id }} | {{ u.firstName }} {{ u.lastName }}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Recent Reservations</h5>
                    <ul class="list-group">
                        <li class="list-group-item">2026-05-30 09:00 - Sala Riunioni Grande</li>
                        <li class="list-group-item">2026-05-30 10:00 - Sala Riunioni Grande</li>
                        <li class="list-group-item">2026-05-30 11:00 - Sala Riunioni Grande</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">Revenue by Space (Today)</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Space</th>
                                <th scope="col">Revenue</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sala Riunioni Grande</td>
                                <td>€400</td>
                            </tr>
                            <tr>
                                <td>Sala Riunioni Piccola</td>
                                <td>€80</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card bg-body-tertiary m-2">
                <div class="card-body">
                    <h5 class="card-title">State of the Space</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Sala Riunioni Grande: Occupata</li>
                        <li class="list-group-item">Sala Riunioni Piccola: Libera</li>
                        <li class="list-group-item">Sala Riunioni Media: Libera</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>