<div class="card border-0 shadow-sm mb-4 bg-body-tertiary">
  <div class="card-body p-4">
    <h4 class="card-title mb-4">Dettagli Prenotazione</h4>

    <div class="row border-bottom py-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-person me-2"></i>Cliente</div>
      <div class="col-sm-9">{{reservation?.user?.firstName}} {{reservation?.user?.lastName}}</div>
    </div>

    <div class="row border-bottom py-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-envelope me-2"></i>Email</div>
      <div class="col-sm-9 ">{{reservation?.user?.email}}</div>
    </div>

    <div class="row border-bottom py-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-door-open me-2"></i>Spazio</div>
      <div class="col-sm-9 ">{{reservation?.space?.name}}</div>
    </div>

    <div class="row border-bottom py-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-calendar-event me-2"></i>Data</div>
      <div class="col-sm-9 ">{{reservation?.start|date:'dd/MM/yyyy'}}</div>
    </div>

    <div class="row border-bottom py-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-clock me-2"></i>Orario</div>
      <div class="col-sm-9 ">
        {{reservation?.start|date:'HH:mm'}} - {{reservation?.end|date:'HH:mm'}}
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-sm-3 fw-bold text-muted"><i class="bi bi-cash-coin me-2"></i>Importo</div>
      <div class="col-sm-9 fw-bold text-primary fs-5">{{reservation?.space?.slotPrice | currency:'EUR'}}</div>
    </div>
  </div>
</div>