  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Cliente</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.user?.firstName}} {{reservation?.user?.lastName}}</label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.user?.email}}</label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Spazio</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.space?.name}}</label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Data</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.start|date:'dd/MM/yyyy'}}</label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Orario</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.start|date:'HH:mm'}} - {{reservation?.end|date:'HH:mm'}}</label>
    </div>
  </div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Importo</label>
    <div class="col-sm-10">
      <label type="text" readonly class="form-control-plaintext">{{reservation?.space?.slotPrice}}€</label>
    </div>
  </div>
