<div class="container">
  <h2>Creazione Prenotazione Posti</h2>

  <form [formGroup]="bookingForm">

    <div class="form-group mt-3">
      <label for="utenteId">Seleziona Utente:</label>
      <select id="utenteId" class="form-control mt-1" formControlName="utenteId">
        <option value="" disabled>Scegli un utente...</option>
        @for (utente of listaUtenti; track utente.id) {
          <option [value]="utente.id">
            {{ utente.firstName }} {{ utente.lastName }}
          </option>
        }
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="data">Data Prenotazione:</label>
      <input id="data" class="form-control mt-1" type="date" formControlName="data" />
    </div>

    <div class="form-group mt-3">
      <label for="spaceId">Postazione:</label>
      <select id="spaceId" class="form-control mt-1" formControlName="spaceId">
        <option value="" disabled>Scegli la postazione...</option>
        @for (s of spaces; track s.id) {
          <option [value]="s.id">{{ s.name }}</option>
        }
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="slotId">Durata Prenotazione:</label>
      <select id="slotId" class="form-control mt-1" formControlName="slotId">
        <option value="" disabled>Scegli la fascia oraria...</option>
        @for (s of slots; track s.id) {
          <option [value]="s.id">{{ s.start | date:'HH:mm' }} - {{ s.end | date:'HH:mm' }}</option>
        }
      </select>
    </div>

    <div class="form-actions mt-4">
      <button class="btn btn-success" type="submit" [disabled]="!bookingForm.valid" (click)="addBooking()">
        <i class="bi bi-check"></i>Conferma Prenotazione
      </button>
    </div>

  </form>
</div>