<main class="main-content">
        <div class="profile-card">
            
            <h2>Profile</h2>
            
            <div class="profile-details">
                <div class="detail-row">
                    <span class="label">Name:</span>
                    <span class="value">{{ currentUser?.firstName }}</span>
                </div>
                <div class="detail-row">
                    <span class="label">Surname:</span>
                    <span class="value">{{ currentUser?.lastName }}</span>
                </div>
                <div class="detail-row">
                    <span class="label">Email:</span>
                    <span class="value">{{ currentUser?.email }}</span>
                </div>
                <div class="detail-row">
                    <span class="label">Role:</span>
                    <span class="badge-admin">{{ currentUser?.role }}</span>
                </div>
            </div>

            <div class="profile-actions">
                <button class="btn btn-secondary">Reset Email</button>
                <button class="btn btn-primary">Reset Password</button>
            </div>

        </div>
    </main>